backend/config/main-local.php 
backend/config/params-local.php 
backend/web/index-test.php 
backend/web/index.php 
console/config/main-local.php 
console/config/params-local.php 
frontend/config/main-local.php 
frontend/config/params-local.php 
frontend/web/index-test.php 
frontend/web/index.php 
common/config/main-local.php 
common/config/params-local.php  
yii

# yii console command
#/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
